version: '3.8'

services:
  omega21-trainer:
    build:
      context: ..
      dockerfile: docker/Dockerfile.training
    container_name: omega21_local_trainer
    ports:
      - "8000:8000"
    volumes:
      - ../models:/app/models
      - /workspaces/HIPERGRAFO/modelos_guardados:/workspaces/HIPERGRAFO/modelos_guardados
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4G
        reservations:
          cpus: '1.0'
          memory: 1G
    restart: unless-stopped

networks:
  default:
    name: hipergrafo-network
